.select {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
    border-color: lightgrey;
    outline: none;
}

.select:hover {
    border: 1px solid #b1b1b1;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px;
}

.select:active {
    border: 1px solid #b1b1b1;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px;
}

.select:disabled {
    cursor: initial;
}

