.inputWrapper {
  position: relative;

  .input {
    width: 250px;
    padding: 10px 55px 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s;

    &:hover {
      border: 1px solid #b1b1b1;
      box-shadow: rgba(0, 0, 0, 0.25) 1px 1px;
    }

    &:focus {
      border-color: #b1b1b1;
      box-shadow: rgba(0, 0, 0, 0.25) 1px 1px;
    }
  }

  .deleteIcon {
    position: absolute;
    top: 8px;
    right: 35px;
    font-size: 26px;
    cursor: pointer;
  }

  .searchIcon {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 26px;
    cursor: pointer;
  }

  .error {
    border: 1px solid red;
  }

  .errorMessage {
    color: red;
    font-weight: bold;
  }
}
