.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 2rem 0;
  }

  .result {
    margin: 1rem 0;
    text-align: center;
  }

  .books {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;

    .btn {
      margin: 2rem 0;
    }
  }
}

@media (max-width: 1200px) {
  .books {
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .container {
    .title {
      margin: 1rem 0;
    }

    .btnWrapper {
      .btn {
        margin: 1rem 0;
      }
    }
  }
}
