@import '../../styles/mixins';

.content {
  width: 100%;
  @include flex();
  margin: 2rem;

  .book {
    display: flex;
    gap: 2rem;

    .imgWrapper {
      @include flex();
      background: #d5d5d5;
      padding: 2rem;
      width: 50%;
      height: 600px;

      .img {
        max-width: 350px;
      }
    }

    .information {
      width: 100%;
      padding: 40px 30px;

      .categories {
        color: #9b9999;
        margin-bottom: 20px;
      }

      .title {
        margin-bottom: 20px;
      }

      .authors {
        text-decoration: underline;
        margin-bottom: 20px;
      }

      .description {
        margin-bottom: 20px;
      }

      .footerBlock {
        @include flex(row, space-between, center, 1rem);
      }
    }
  }
}

@media (max-width: 1200px) {
  .content {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .img {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .content {
    margin: 1rem;
    .book {
      @include flex(column);

      .imgWrapper {
        padding: 20px;
        width: 70%;
        height: 90%;

        .img {
          width: 100%;
        }
      }
    }
  }
}
