.header {
    min-height: 120px;
    background: rgba(255,199,4,0.62);
    width: 100vw;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.title {
    text-align: center;
    color: black;
}

@media (max-width: 1200px) {
    .content {
        width: 100%;
    }
}