.header {
    min-height: 120px;
    background: rgba(255,199,4,0.62);
    width: 100vw;
}

.content {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.title {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.selectSort {
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.selectSort:disabled {
    cursor: initial;
}

@media (max-width: 1200px) {
    .content {
        width: 100%;
    }
}