@import '../../styles/mixins';

.header {
  min-height: 150px;
  background-image: url('../../assets/background.webp'),
    linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(74, 73, 73) 100%);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100vw;
  @include flex(column);
  box-shadow: 2px 2px 8px 0 rgba(5, 5, 6, 0.2);

  .content {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    @include flex(column, space-around);

    .title {
      text-align: center;
      margin: 5px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .filterBlock {
      @include flex(row);
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .content {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .header {
    .content {
      .filterBlock {
        flex-direction: column;
      }
    }
  }
}
