.content {
    width: 250px;
    height: 400px;
    background: lightgrey;
    padding: 30px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 150px;
    height: 200px;
    padding: 0 10px 10px;
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categories {
    padding-bottom: 10px;
    color: #727272;
    text-decoration: underline;
}

.titleWrapper {
    position: relative;
}

.title {
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    cursor: pointer;
}

.authors {
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #727272;
}