@import '../../styles/mixins';

.content {
  width: 250px;
  height: 400px;
  background: lightgrey;
  padding: 2rem;
  margin: 0.5rem;
  @include flex(column);
  transition: all 0.3s;
  text-decoration: none;
  box-shadow: 2px 2px 8px 0 rgba(5, 5, 6, 0.2);
  border-radius: 5px;

  &:hover {
    transform: translateY(-5px);
    background: #c3c3c3;
  }

  .img {
    width: 150px;
    height: 200px;
    padding: 0 1rem 1rem;
    cursor: pointer;
  }

  .information {
    @include flex(column, center, flex-start);

    .categories {
      padding-bottom: 1rem;
      color: #727272;
      text-decoration: underline;
    }

    .titleWrapper {
      position: relative;

      .title {
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        color: black;
      }
    }

    .authors {
      margin-top: 1rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      color: #727272;
    }
  }
}
