.content {
    width: 250px;
    height: 400px;
    background: lightgrey;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 150px;
    height: 200px;
    padding: 0 10px 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categories {
    padding-bottom: 10px;
}

.titleWrapper {
    position: relative;
}

.title {
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    /*height: 3.9em;*/
    cursor: pointer;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0; top: 0;
    background: #3989c9;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 4em;
}

.authors {
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}